.header{
	background-image: url("https://cloud.githubusercontent.com/assets/8409329/12705207/ae401332-c83a-11e5-9cdc-b0c92049e4f4.jpg");
	width: 100%;
	height: 367px;
	display: inline-block;
}
.headtitle{
	position: relative;
	top: 140px;
	color: white;
	font-size: 25px;
	font-weight: bold;
}
body{
	text-align: center;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;	
	height: 500px;
}
img{
	display: center;
	display: no-repeat;
}
.blurb{
	word-wrap: break-word;
	width: 990px;
	margin-right:auto;
	margin-left:auto;
}
h1{
	text-align: center;
	font-weight: bold;
	line-height: 26.4px;
}
h2{
	text-align: center;
	font-weight: 400;
	line-height: 26.4px;
}
p{	
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: justify;
}
.columns{
	width: 990px;
	margin-right:auto;
	margin-left:auto;

	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
.column-left{
	float: left; 
	width: 30%; 
	text-align: justify;
}
.column-right{
	float: right;
	width: 30%; 
	text-align: justify;
}
.column-center{
	display: inline-block;
	width: 30%;
	text-align: justify;
}
footer{
	position: relative;
	top: 30px;
	color: white;
	width: 990px;
	display: inline-block;
	background-color: #181818; 	
	background-image: url("https://cloud.githubusercontent.com/assets/8409329/12706473/17a580d2-c854-11e5-8c3a-6f3d065d4c7b.jpg");
}
li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	}
a:link{
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight: bold;
}
a:visited{
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight: bold;
}