body{
text-align: center;
<!--background-image: url("Background.jpg");-->
background-repeat: no-repeat;
background-position: center;
 height: 500px;
}
img{
display: center;
<<<<<<< HEAD
display: no-repeat;
}
=======
}
.blurb{
border: 10px solid green ;
}
