body{
	text-align: center;
	<!--background-image: url("Background.jpg");-->
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}
img{
	display: center;
	display: no-repeat;
}
.blurb{
	word-wrap: break-word;
	width: 990px;
	margin-right:auto;
	margin-left:auto;
}
h1{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
p{	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: justify;
}
.columns{
	width: 990px;
	margin-right:auto;
	margin-left:auto;

	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
.column-left{
	float: left; 
	width: 30%; 
	text-align: justify;
}
.column-right{
	float: right;
	width: 30%; 
	text-align: justify;
}
.column-center{
	display: inline-block;
	width: 30%;
	text-align: justify;
}
footer{
	background-color: black;
	width: 990px;
	display: inline-block;
	background-image: url("https://cloud.githubusercontent.com/assets/8409329/12706473/17a580d2-c854-11e5-8c3a-6f3d065d4c7b.jpg");
}
