body{
text-align: center;
<!--background-image: url("Background.jpg");-->
background-repeat: no-repeat;
background-position: center;
 height: 500px;
}
img{
display: center;
display: no-repeat;
}
.blurb{
word-wrap: break-word;
width: 990px;
}
